<div id="content" class="row">
    <div class="col-sm">
        <sr-reading-list></sr-reading-list>
        <hr>
        <sr-reading-challenge></sr-reading-challenge>
        <hr>
        <sr-want-to-read-list></sr-want-to-read-list>
        <hr>
        <sr-bookshelves></sr-bookshelves>
    </div>
    <div class="col-sm-6">
        <sr-updates-list></sr-updates-list>
    </div>
    <div class="col-sm">
        <sr-awards></sr-awards>
        <hr>
        <sr-recommendations></sr-recommendations>
        <hr>
        <sr-recent-blog-posts></sr-recent-blog-posts>
    </div>
</div>